*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: verdana;
}
.nav-thang {
    overflow: hidden;
}
.bg-img {
  /* The image used */
  background:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/Project/images/background_img/sach.jpg");
  height: 300px;
  width: 100%;
  
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}
.navbar-brand{
    font-size: 2rem;
    border-bottom-style: solid;
    border-bottom-color: red;
}
.navbar-nav li a{
    font-size: 2rem;
}
.navbar-nav li a:hover{
    border-bottom-style: solid;
    border-bottom-color: red;
}
.container-area{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-thang4{
  text-align: center;
}
.glow {
  font-size: 6.4rem;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oswald;
}
.footer-thang{
    background-color: #013220;
    padding: 2rem;
}
.tx1 li{
    color: white;
}
.tx1 li a{
    color: white;
    font-size: 2rem;
}
.tx2 li{
    color: white;
}
.tx2 p{
    color: white;
}
.tx2 li a{
    color: white;
    font-size: 2rem;
}
.footer-thang2{
    background-color: rgb(250, 250, 250);
    padding: 3rem;
}
.copyright-thang{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.glyphicon-envelope{
    color: white;
}
#tx2{
    text-align: center;
}
.container .section-feed-back{
    border-radius: 25px;
    border: 2px solid #333;
    padding: 20px; 
    background-color: rgb(250, 250, 250);
}
.efi{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 150, 150);
    text-shadow: 0 0 3px darkgrey;
}
input[type="submit"]{
    background-color: red;
	color: whitesmoke;
	font-size: 1.12em;
	padding: .2em .6em;
	border-radius: 2em;
	border: rosybrown thin solid;
	box-shadow: lightslategrey 2px 2px 2px;
}
input[type="reset"] {
	background-color: blue;
	color: whitesmoke;
	font-size: 1.12em;
	padding: .2em .6em;
	border-radius: 2em;
	border: rosybrown thin solid;
	box-shadow: lightslategrey 2px 2px 2px;
}
.creator-thang{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    text-align: center;
    color: rgb(0, 150, 150);
    text-shadow: 0 0 3px darkgrey;

}
.col-sm-3 p img:hover {
    width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.container-thang3 {
    padding: 10px;
}
.col-sm-3{
    opacity: 0.5;
}
.col-sm-3:hover{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1.0;
}
.padding-creator{
    padding: 10rem;
}
.row {
  margin: 8px -16px;
}
/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 6px;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  background-color: rgb(250, 250, 250);
  padding: 10px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
.column .content:hover{
    background-color: rgb(244, 244, 244);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column-thang10 {
  padding: 6px;
}
/* Create four equal columns that floats next to each other */
.column-thang10 {
  float: left;
  width: 50%;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content-thang10 {
  background-color: rgb(250, 250, 250);
  padding: 10px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column-thang10 {
      width: 50%;
    }
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column-thang10 {
      width: 50%;
    }
  }
.column-thang10 .content-thang10:hover{
    background-color: rgb(244, 244, 244);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}
/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.marquee{
  background-color: rgb(250, 250, 250);
  color: #333333;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}